.navbar-collapse{
    border-bottom: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 10% !important;
    margin: 0px;
    align-items: center;
    text-align: center;
}

.navbar-collapse .btn-primary,
.navbar-fixed-bottom .btn-primary{
    background-color: #F0F4C3;
    border-width: 0px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.navbar-fixed-bottom{
    border-top: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 10% !important;
    margin: 0px;
    align-items: center;
    text-align: center;
}

/* make 3 buttons visible with a line */
#tipsButtonBorder{
    border-width: 0px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: #CDDC39;
}

.btn-primary{
    white-space: normal !important;
    word-wrap: break-word;
}

.btn-group{
    height: 85% !important;
    position: absolute;
    overflow: hidden;
}

/* style all the buttons in the middle*/
.btn-group>.btn{
    border: 0px;
    background-color: white;
    color: black;
    font-size: 28px;
}
    
    /* style icons in the button*/
    .btn>.fa{
        color:#009688;
    }

    .btn-group>.btn:hover, 
    .btn-group>.btn:focus, 
    .btn-group>.btn:active{
        background-color: #CDDC39;
        color: black;
    }
  
/* text in the middle of the icon */    
#stopbuttonwrapper{
    display: inline-block;
    vertical-align: 50%;
}
    
#textstopbutton{
    vertical-align: 50%;
}

.fontfamily {
    font-family: 'Open Sans';       
}
