.container-fluid{
    overflow-y: hidden; 
    overflow-x: hidden; 
}

.navbar-collapse{
    border-bottom: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 100px;
    margin: 0px;
}
    .navbar-collapse a, 
    .navbar-collapse a:hover, 
    .navbar-collapse a:active, 
    .navbar-collapse a:focus{
        align-items: center;
        background-color: #F0F4C3;
        align-content: center;
        text-align: center;
    }

.navbar-fixed-bottom{
    border-top: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 100px;
    margin: 0px;
}

    .navbar-fixed-bottom a, 
    .navbar-fixed-bottom a:hover, 
    .navbar-fixed-bottom a:active,
    .navbar-fixed-bottom a:focus{
        text-align: center;
        background-color: #F0F4C3;
    }

#tipsButtonBorder{
    border-width: 0px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: #CDDC39;
}

.btn-group{
    height: 100%;
    position: absolute;
    overflow: hidden;
}

    .btn{
        border: 0px;
        background-color: white;
        height: 100% !important;
        color: black;
        font-size: 32px;
    }

        .btn:hover, .btn:focus, .btn:active{
            background-color: white;
            color: black;
            font-weight: bold;
        }

.fa-list-alt, .fa-lightbulb-o, .fa-trophy{
       font-size: 50px;     
}