.navbar-collapse{
    border-bottom: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 10% !important;
    margin: 0px;
    align-items: center;
    text-align: center;

}
    .navbar-collapse a, 
    .navbar-collapse a:hover, 
    .navbar-collapse a:active, 
    .navbar-collapse a:focus{
        background-color: #F0F4C3;
        align-items: center;
        align-content: center;
        text-align: center;
    }

.navbar-fixed-bottom{
    border-top: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 10%;
    margin: 0px;
    align-items: center;
    text-align: center;
}

    .navbar-fixed-bottom a, 
    .navbar-fixed-bottom a:hover, 
    .navbar-fixed-bottom a:active,
    .navbar-fixed-bottom a:focus{
        background-color: #F0F4C3;
    }

#tipsButtonBorder{
    border-width: 0px;
    border-left: 4px solid;
    border-right: 4px solid;
    border-color: #CDDC39;
}

.btn-group{
    height: 80%;
    position: absolute;
    overflow: hidden;
}

    .btn{
        border: 0px;
        background-color: white;
        color: black;
        font-size: 32px;
    }

        .btn:hover, .btn:focus, .btn:active{
            background-color: white;
            color: black;
            font-weight: bold;
        }
        