h1{
    display:none;
}

#bar_row{
    margin-bottom:5vh;
    height:200px;
    max-height:4.5vw;
}

#question_row,
#answer_row{
    height:90px;
    min-height:82px;
    max-height:15vw;
}

#question_row{
    margin-top:7vw;
}

#questionnairy_wrapper{
    width:100%;
    margin:0px;
    padding:0px;
}

#questionnairy_content{
    width: 100%;
        margin-top: 3vh;
            margin-bottom: 50 px;
}

.progress-bar
{
  background-color: #CDDC39 !important;
}

.progress {
    position: relative;
    border: 4px solid;
    border-radius: 5px;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    height: 25px;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

button{
    background-color: #F0F4C3;
    border: 4px solid;
    border-radius: 5px;
    border-color: #CDDC39;
    height: 4vh;
    padding: 2px;
    padding-top:0px;
    padding-bottom:25px;
    margin-top:10px;
    font-family: 'Open Sans';       
    font-size: 15px;
    color: #009688;
}
button:active,
button:hover{
    border-color: #009688;
}

footer{
    border-top: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    margin-top: 50px;
    line-height: 50px;
    height: 15vh !important;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media only screen and (orientation: portrait){
    footer{
        height: 12vh !important;
    }
}

#question_panel{
    background-color: #F0F4C3;
    border: 4px solid;
    border-radius: 5px;
    border-color: #CDDC39;
    width: 100%; 
}

#question_placeholder{
    text-align: center;
    font-family: "Droid Serif Regular";
    font-size: 24px;;    
}

#tableheader_topic,
#tableheader_Question,
#topic_placeholder{
    display:none;
    
}

table{
    background-color: transparent;
    width: 100%;

}

.btn-arrow-right,
.btn-arrow-left {
    color: white;
    height: 60px;
    position: relative;
    padding-top:0px;
    background-color: #009688;
    margin-top: 17px;
    font-family: 'Open Sans';       
    font-size: 15px;

}
.btn-arrow-left:hover,
.btn-arrow-left:active,
.btn-arrow-right:hover,
.btn-arrow-right:active
{
    background-color: #009688;
    color:#CDDC39;
}

.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 8px; /* move it down because of rounded corners */
    width: 42px; /* same as height */
    height: 42px; /* button_outer_height / sqrt(2) */
    background: #009688; /* use parent background */
    border: #009688; /* use parent border */
    z-index: -1; 
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:after {
    
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before{
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-left:after,
.btn-arrow-right:before{ /* align the "after" square to the right */
    display: none;
} 

.btn-arrow-left:before { /* align the "before" square to the left */
    left: -20px;
}
.btn-arrow-right:after{ /* align the "after" square to the right */
    right: -20px;
}

.col-sm-4{
    padding: 0px;
    margin: 0px;
}


