.fontfamily {
    font-family: 'Open Sans'
}
main{
    margin-top: 7vw;
}
h1{
    display:none;
}

#questionnairy_content{
    width: 100%;
}

button{
    background-color: #F0F4C3;
    border: 4px solid;
    border-radius: 5px;
    border-color: #CDDC39;
    height: 50 px;
    font-size: 18px;
    color: #009688;
}
button:active,
button:hover{
    border-color: #009688;
}

footer{
    border-top: 4px solid;
    border-color: #CDDC39;
    background-color: #F0F4C3;
    margin-top: 50px;
    line-height: 50px;
    height : 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#question_panel
{
    background-color: #F0F4C3;
    border: 4px solid;
    border-radius: 5px;
    border-color: #CDDC39;
    width: 100%; 
}

#question_placeholder{
    text-align: center;
    font-family: "Droid Serif Regular";
    font-size: 18px;    
}

#tableheader_topic,
#tableheader_Question,
#topic_placeholder{
    display:none;
    
}

table{
    background-color: transparent;
    width: 100%;

}

main{
    margin-bottom: 50 px;
}

.btn-arrow-right,
.btn-arrow-left {
    color: white;
    height: 60px;
    position: relative;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #009688;
    margin-top: 17px;
    font: 'Open Sans';
    font-size: 1.75vw;

}
.btn-arrow-left:hover,
.btn-arrow-left:active,
.btn-arrow-right:hover,
.btn-arrow-right:active
{
    background-color: #009688;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;    
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 8px; /* move it down because of rounded corners */
    width: 42px; /* same as height */
    height: 42px; /* button_outer_height / sqrt(2) */
    background: #009688; /* use parent background */
    border: #009688; /* use parent border */
    z-index: -1; 
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:after {
    
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before{
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-left:after,
.btn-arrow-right:before{ /* align the "after" square to the right */
    display: none;
} 

.btn-arrow-left:before { /* align the "before" square to the left */
    left: -20px;
}
.btn-arrow-right:after{ /* align the "after" square to the right */
    right: -20px;
}  
