<head>
    <link href="../../assets/css/caregiver.css" rel="stylesheet" type="text/css"/>
</head>
<div class="container row" style="width: auto">
    <div class="col-lg-7 overviewbox" id="chart_div" style="height: 500px">
        <!--{topics}
        {Topic}<br>
        {/topics}-->
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-4">
        <div class="row">
            <div class="col-md-12 urgentpatientsbox">
                <table style="width:100%">
                    <tr>
                        <th>Patients in urgent needs</th>
                        <th>Score in %</th> 

                    </tr>
                    <tr>
                        <td>{urgent} <a href="<?php echo base_url();?>CaregiverController/personal?username={Name}">{Name}</a><br> {/urgent}</td>
                        <td>{urgent} {Score}<br> {/urgent}</td> 

                    </tr>



                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 messagesbox">{messages}</div>
        </div>
    </div>
    <h1>{content}</h1>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="../../assets/js/chart.js" type="text/javascript"></script>