<div class="container row" style="width: auto">
    <div class="col-lg-5 overviewbox">
        <button onclick="getScore()">Search Patient</button>
        <input type="text" id="myaddress" size="60" value="axel"/><br>
        {patients}
        {Name}<br>
        {/patients}<br>
        
        
        
        {privacy}<br>
        {food}<br>
        {safety}<br>
        {comfort}<br>
        {autonomie}<br>
        {respect}<br>
        {staffresp}<br>
        {staffbonding}<br>
        {activities}<br>
        {relationships}<br>
        {other}<br>
        
        
        
        
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-md-12 overviewbox">
        {topics}
        {Topic}<br>
        {/topics}
    </div>
        </div>

    </div>

    <h1>{content}</h1>
</div>



