<head>
            <link href="../../assets/css/caregiver.css" rel="stylesheet" type="text/css"/>
</head>

<div class="container row" style="width: auto">
    <div class="col-lg-5 overviewbox">

        <form name="namesearch" id="namesearch" action="personal" method="get">
            <div class="form-group">
                <label class='fontfamily' for="username">Username:</label>
                <input type="text" name="username" class="form-control fontfamily" id="username" placeholder="Enter username" autofocus required>
            </div>
            
            <button type="submit" class="btn btn-default fontfamily">Submit</button>
            <br>
            <br>
        </form>

       
        <br>List of names:<br>
        {patients}
        {Name}<br>
        {/patients}
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
        <div class="row">
            <div class="col-md-12 overviewbox">
                <table style="width:100%">
                    <tr>
                        <th>Topic</th>
                        <th>Score in %</th> 

                    </tr>
                    <tr>
                        <td>Privacy</td>
                        <td>{privacy}</td> 

                    </tr>
                    <tr>
                        <td>Food</td>
                        <td>{food}</td> 

                    </tr>
                    <tr>
                        <td>Safety</td>
                        <td>{safety}</td> 

                    </tr>
                    <tr>
                        <td>Comfort</td>
                        <td>{comfort}</td> 

                    </tr>
                    <tr>
                        <td>Autonomy</td>
                        <td>{autonomie}</td> 

                    </tr>
                    <tr>
                        <td>Respect</td>
                        <td>{respect}</td> 

                    </tr>
                    <tr>
                        <td>Staff Resoponse</td>
                        <td>{staffresp}</td> 

                    </tr>
                    <tr>
                        <td>Staff Bonding</td>
                        <td>{staffbonding}</td> 

                    </tr>
                    <tr>
                        <td>Activities</td>
                        <td>{activities}</td> 

                    </tr>
                    <tr>
                        <td>Relationship</td>
                        <td>{relationships}</td> 

                    </tr>
                    <tr>
                        <td>Other</td>
                        <td>{other}</td> 

                    </tr>

                </table>
            </div>
        </div>

    </div>

    <h1>{content}</h1>
</div>



