<head>
    <link href="../../assets/css/caregiver.css" rel="stylesheet" type="text/css"/>
    <link href="../../assets/css/tipsCaregiver.css" rel="stylesheet" type="text/css"/>
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div id="pageTitle">
                {overview_of_tips}
            </div>
        </div>
    </div>
    <div class ="row">
        <div class="col-sm-offset-1 col-sm-10">
            <div class="frame">

                <div class ="row">
                    <div class="col-sm-10">   
                        <div class="form-group">
                            <select id="select_topic" class="form-control" onchange="register_topic()">
                                <option value="0"> {choose_option}</option>
                                {options}
                                <option value="{Topic}">{Topic}</option>
                                {/options}
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class ="col-sm-12">
                        <ul id="tips_list"></ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="col-sm-10"><input type="text" id="new_tip" placeholder="{write_new_tip}"></div>
                            <div class="col-sm-2"><input type="button" class="btn btn-default fontfamily" onclick="add_new_tip()" value="{add_new_tip}"></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
