<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="../../GraceAge/assets/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>
      <h1>Hello!</h1><br>
    <div>
    <a href="#"><span class="glyphicon glyphicon-cog" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-user" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-check" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-star" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-tasks" style="font-size: 50px; color: #7D9B7B"></span> </a><br>
    <a href="#"><span class="glyphicon glyphicon-stats" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-off" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-home" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-search" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-time" style="font-size: 50px; color: #7D9B7B"></span> </a><br>
    <a href="#"><span class="glyphicon glyphicon-arrow-right" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-arrow-left" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-pencil" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-ok" style="font-size: 50px; color: #7D9B7B"></span> </a>
    <a href="#"><span class="glyphicon glyphicon-remove" style="font-size: 50px; color: #7D9B7B"></span> </a><br>
    </div>
    <script src="../../GraceAge/assets/js/jquery.min.js"></script>
    <script src="../../GraceAge/assets/js/bootstrap.min.js"></script>
  </body>
</html>