<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log In to Grace Age</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">        
        <link href="../../../assets/css/login.css" rel="stylesheet" type="text/css"/>
    </head>

    <body>
        <fieldset>
            <label for ="photo"><b>Choose a QR Code image to get it decoded:</b></label>
            <br/>
            <input type="file" name="photo" id="photo" value="" capture="camera">
        </fieldset>
        <h1>Present the badge</h1>
        <div id="reader" style="width:400px;height:350px;"></div>
        <div class="container">
            <h2>Log in</h2>{loggedin}
            <form name="loginForm" id="loginForm" action="loginPost" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" autofocus>
                </div>
                <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>