<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-4 col-lg-4 col-md-offset-3 col-md-6">
            <div class="framework">

                <ul class="tabs">
                    <li class = "active" style="width:50%"><a data-toggle="tab" href="#QRtabContent">QR CODE</a></li>
                    <li style="width:50%"><a data-toggle="tab" href="#loginTabContent">LOGIN</a></li>
                </ul>

                <div class="tab-content"> 

                    <div id="QRtabContent" class="tab-pane fade in active">
                        <br>
                        <h1>Present the badge</h1>
                        <div id="reader" style="width:350px;height:350px;"></div>

                        <fieldset id="safariQRfunctionaity">
                            <label for ="photo"><b>Camera doesn't open immediately?</b>
                                <br>Choose a QR Code image to get it decoded</label>
                            <br/>
                            <input type="file" name="photo" id="photo" value="" capture="camera">
                        </fieldset>
                    </div>

                    <div id="loginTabContent" class="tabContent tab-pane fade">
                        <h2>Log in</h2>{loggedin}
                        <form name="loginForm" id="loginForm" action="loginPost" method="post">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="pwd">Password:</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                            <br>
                            <br>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>