<div>
    <h1>{Person_Name}</h1>
    <h2>Change Password</h2>
    <form action="change_password" method="post">
        Old password: <br>
        <input type="password" id= "old" name="old_password" placeholder="Enter old password" required> <br>
        New password: <br>
        <input type="password" id= "new" name="new_password" placeholder="Enter new password" required> <br>
        Confirm new password: <br>
        <input type="password" id= "conf" name="conf_password" placeholder="Confirm new password" required> <br>
        <input type="submit" id="change_password" value="Change password"><br>
    </form>
</div>
