<head>
    <link href="../../assets/css/elderlyHome.css" rel="stylesheet" type="text/css"/>
</head>

<div class ="container-fluid" >
    <div class = "row">
        <div class="navbar navbar-collapse">
            <div class = "col-lg-offset-4 col-lg-4">
                <a href="profile" class="btn btn-primary">
                    <i class="fa fa-cog fa-3x" ></i></br>
                    {settings_button}
                </a>
            </div>
        </div>
    </div>

    <div class = "row">      
        <div class="btn-group btn-group-justified">
            <a href="questionnaire" class="btn btn-primary">
                <i class="fa fa-list-alt fa-5x" ></i>
                <p>{questionnaire_button}</p>
            </a>
            <a href="tips" id ="tipsButtonBorder" class="btn btn-primary">
                <i class="fa fa-lightbulb-o fa-5x"></i>
                <p>{tips_button}</p>
            </a>
            <a href="score" class="btn btn-primary">
                <i class="fa fa-trophy fa-5x"></i>
                <p>{score_button}</p>
            </a>
        </div>
    </div>

    <div class ="row">
        <div class ="navbar navbar-fixed-bottom">
            <div class = "col-md-offset-4 col-md-4" >
                <a id= "stopbuttonwrapper" href="../AccountController/logout" class="btn btn-primary">
                    <i class="fa fa-power-off fa-3x" ></i>
                    <span id="textstopbutton">{stop_button}</span>
                </a>
            </div> 
        </div>
    </div>
</div>
