<head>
    <link href="../../assets/css/elderlyHome.css" rel="stylesheet" type="text/css"/>
</head>

<div class ="container-fluid" >
    <div class = "row">
        <div class="navbar navbar-collapse">
            <div class = "col-lg-offset-4 col-lg-4">
                <a href="profile" class="fa fa-cog btn btn-default" > </br>{settings_button}</a>
            </div>
        </div>
    </div>

    <div class = "row">      
        <div class="btn-group btn-group-justified">
            <a href="questionnaire" class="fa fa-list-alt btn btn-primary"></br>{questionnaire_button}</a>
            <a href="tips" id ="tipsButtonBorder" class="fa fa-lightbulb-o btn btn-primary"></br>{tips_button}</a>
            <a href="score" class="fa fa-trophy btn btn-primary"></br>{score_button}</a>
        </div>
    </div>

    <div class ="row">
        <div class ="navbar-fixed-bottom">
            <div class = "col-md-offset-4 col-md-4" >
                <a href="../AccountController/logout" class="fa fa-power-off btn btn-default" > {stop_button}</a>
            </div> 
        </div>
    </div>
</div>





<!--
<div class="container">
    <h1>{content}</h1>
</div>
-->