<link href="../../assets/css/Questionnaire.css" rel="stylesheet" type="text/css"/>
<div id='questionnairy_content' class="container">

    <main id="q_and_a">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div id="tipsTitle">

                    {header}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
                <div id="frame">
                    <div title="{title}" class="panel panel-default tip_panel">{tip_1}</div>
                    <div title="{title}" class="panel panel-default tip_panel">{tip_2}</div>
                    <div title="{title}" class="panel panel-default tip_panel">{tip_3}</div>
                    <div title="{title}" class="panel panel-default tip_panel">{tip_4}</div>
                </div>
            </div>
        </div>
    </main>

</div>
<footer>
    <div class="row">
        <div class="col-xs-1">
        </div>
        {navigationbuttons}
        <div class="col-xs-5">
            <button type="button" class ="{class}" onclick="{func}" >{name}</button>
        </div>
        {/navigationbuttons}
        <div class="col-xs-1">
        </div>
    </div>
</footer>