<head>
    <link href="../../assets/css/Questionnaire.css" rel="stylesheet" type="text/css"/>
</head>

<div id='questionnairy_content' class="container">

    <main id="q_and_a">
        <h1>{header}</h1>
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-10">
                <button type="button" id="question_panel" title="{title}" class="panel panel-default">{tip_1}</button>
                <button type="button" id="question_panel" title="{title}" class="panel panel-default">{tip_2}</button>
                <button type="button" id="question_panel" title="{title}" class="panel panel-default">{tip_3}</button>
                <button type="button" id="question_panel" title="{title}" class="panel panel-default">{tip_4}</button>
            </div>
            <div class="col-sm-1">
            </div>
        </div>
    </main>

</div>
<footer>
    <div class="row">
        <div class="col-sm-1">
        </div>
        {navigationbuttons}
        <div class="col-sm-5">
            <button type="button" class ="{class}" onclick="{func}" >{name}</button>
        </div>
        {/navigationbuttons}
        <div class="col-sm-1">
        </div>
    </div>
</footer>